version: "3.9"

services:
  db:
    image: mysql:8.1
    container_name: mysql_price_comparator
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: price_comparator
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  scraper:
    build: ./scrapers
    container_name: scrapy_price_comparator
    depends_on:
      - db
    environment:
      MYSQL_HOST: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: price_comparator
    volumes:
      - ./scrapers:/app
    command: tail -f /dev/null
